yolov3-tiny.weights
yolov3.weights
yolov4.weights
.vscode/settings.json
yolov3-einar-last.weights
yolov3-einar-5k.weights
yolov3-custom-einar.cfg
obj-einar.names
yolov3-custom-anton.cfg
yolov3-custom-anton.weights
obj-anton.names
obj.names
yolov3-custom.cfg
yolov3-custom_last.weights
