anv.weights
anv.cfg
yolov3.weights
yolov3-tiny.weights
anv.names
settings.json
yolov3-tiny.weights
yolov3.weight
yolov3_only_anton.cfg
yolov3_only_anton.weights
anton.names
__pycache__
6c.weights
obj.names
yolov3_custom.cfg
yolov3_custom.weights
anton.names
yolov3_only_anton.cfg
yolov3_only_anton.weights
6c.weights
6c.names
a.cfg
a.names
a.weights
anv.weights
anv.cfg
a.weights
tiny.cfg
tiny.weights
